@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
   
    background-image: linear-gradient(90deg, #ffecd2 ,#fcb69f);
    font-family: 'Ubuntu', sans-serif
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
  color: #fff;
  
}

